.gear-tab {
  background-color: #f8923e2c;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 8px;
  height: 350px;
  overflow: hidden;
}

.gear-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weapon-card {
  background-color: #614a4a;
  border: 2px solid #201d1d;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 0.85rem;
  color: #eee;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 40px;
  justify-content: space-between;
}

.weapon-card.equipped {
  background-color: rgb(155, 15, 15);
  border-radius: 50px;
}

.weapon-card.selected {
  border-color: yellow;
}

.charm-card {
  background-color: #493d66;
  border: 2px solid #201d1d;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 0.85rem;
  color: #eee;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 40px;
  justify-content: space-between;
}

.charm-card.equipped {
  background-color: rgb(32, 19, 153);
  border-radius: 50px;
}

.charm-card.selected {
  border-color: yellow;
}

.gear-name {
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gear-stats-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.gear-stat {
  font-size: 0.7rem;
  text-align: center;
  white-space: nowrap;
}